.jumbotron {
  background-color: #233237;
}

body {
  background-color: #18121e;
  overflow-y: hidden;
  color: #1C1829;
}

#stats {
  background-color: #984b43;
  border-style: none;
  margin-right: 20px;
  margin-left: -5px;
  height: 400px;
}

#story {
  background-color: #eac67a;
  border-style: none;
  margin-right: -20px;
  height: 400px;
}

button {
  background-color: #18121e;
  color: #eac67a;
}

#story .btn {
  margin-right: 10px;
  margin-top: 10px;
}

.try-again {
  display: none;
}

.roomies {
  display: none;
}
